body{
	font-size: .7rem;
	padding-top: 1em;
}
.complete,
.canceled{
	text-decoration: line-through;
	display: none;
}

shh{
	display: none;
}
h1:hover shh,
h2:hover shh,
h3:hover shh,
h4:hover shh{
	display: inline;
}

.agrogator{
	height: 600px;
	overflow: scroll;
	border: 1px solid #ededed;
	padding: .25rem;
}
.agrogator_container{
	padding-bottom: 1rem;
}
